<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wordEN</key>
		<string>abandon*</string>
		<key>wordRU</key>
		<string> оставить,забросить*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abate*</string>
		<key>wordRU</key>
		<string> уменьшаться, ослабевать*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abduct*</string>
		<key>wordRU</key>
		<string> похищать*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abide*</string>
		<key>wordRU</key>
		<string> смириться, выносить*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>aboard*</string>
		<key>wordRU</key>
		<string> на борту*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abolish*</string>
		<key>wordRU</key>
		<string> упразднять*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abound*</string>
		<key>wordRU</key>
		<string> изобиловать*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>abrupt*</string>
		<key>wordRU</key>
		<string> крутой, резкий*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>absent*</string>
		<key>wordRU</key>
		<string> отсутствующий*</string>
	</dict>
	<dict>
		<key>wordEN</key>
		<string>absorb*</string>
		<key>wordRU</key>
		<string> впитывать, поглощать*</string>
	</dict>
</array>
</plist>
